* {
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    text-align: center;
    border: 0;
    background-color: #c0e6ae;
    width: 50%;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    padding: 10px;
    border-spacing: 1px;
    font-size: 20px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

/* Button used to open the form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
}

/* Full-width input fields */
.form-container input {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* Set a style for the submit/login button */
.form-container .btn {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
